# Domain
SITE_DOMAIN=diy-store.mn
ACME_EMAIL=admin@diy-store.mn
STOREFRONT_URL=https://diy-store.mn
NEXT_PUBLIC_SITE_URL=https://diy-store.mn
NEXT_PUBLIC_VENDURE_SHOP_API=/shop-api
NEXT_PUBLIC_VENDURE_ADMIN_API=/admin-api
INTERNAL_VENDURE_SHOP_API=http://server:3001/shop-api
INTERNAL_VENDURE_ADMIN_API=http://server:3001/admin-api

# Vendure
PORT=3001
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=CHANGE_ME_LONG_PASSWORD
COOKIE_SECRET=CHANGE_ME_64_RANDOM_CHARS
EMAIL_FROM="DIY Store" <noreply@diy-store.mn>

# Database
DB_NAME=vendure
DB_USERNAME=vendure
DB_PASSWORD=CHANGE_ME_DB_PASSWORD

# Payments/search
PAYMENT_MOCK_MODE=true
ALGOLIA_MOCK_MODE=true
ALGOLIA_APP_ID=
ALGOLIA_ADMIN_KEY=
NEXT_PUBLIC_ALGOLIA_APP_ID=
NEXT_PUBLIC_ALGOLIA_SEARCH_KEY=
NEXT_PUBLIC_ALGOLIA_INDEX_NAME=diy_products
ALGOLIA_INDEX_NAME=diy_products

QPAY_USERNAME=
QPAY_PASSWORD=
QPAY_INVOICE_CODE=
QPAY_URL=https://merchant.qpay.mn/v2

MONPAY_USERNAME=
MONPAY_CLIENT_ID=
MONPAY_CLIENT_SECRET=
MONPAY_URL=https://wallet.monpay.mn
